Projects/IOT-GrowBuddy/final/alarms.json
[
    {
        "id": "2e66497cc5ba292a",
        "type": "tab",
        "label": "Alarm flow ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae2b561331210ab6",
        "type": "mqtt in",
        "z": "2e66497cc5ba292a",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "93f5338d9c412867"
            ]
        ]
    },
    {
        "id": "a3f8193351bf6898",
        "type": "mqtt in",
        "z": "2e66497cc5ba292a",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/humi",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "d8abe52751be4107"
            ]
        ]
    },
    {
        "id": "93f5338d9c412867",
        "type": "function",
        "z": "2e66497cc5ba292a",
        "name": "tempAlarm",
        "func": "var currentRange; \n \nif (msg.payload > 15) { \n    currentRange = \"above 15\"; \n} \nelse if (msg.payload >= 10 && msg.payload <= 15) { \n    currentRange = \"10 to 15\"; \n} \nelse if (msg.payload < 5) { \n    currentRange = \"below 5\"; \n} \nelse { \n    currentRange = \"other\"; \n} \n \n// Check if the current range is different from the previous one \nif (currentRange !== flow.get('previousRange')) { \n    // Update the previous range \n    flow.set('previousRange', currentRange); \n \n    // Trigger the message only if the range changes \n    if (currentRange === \"above 15\") { \n        msg.payload = { \n            chatId: 1467891015, \n            type: 'message', \n            content: \"The temperature is beyond recommended for your plants \" + \nmsg.payload \n        }; \n        return msg; \n    } \n     else if (currentRange === \"10 to 15\") { \n        msg.payload = { \n            chatId: 1467891015, \n            type: 'message', \n            content: \"The temperature is in a suitable condition\" + msg.payload \n        }; return msg;} \n    else if (currentRange === \"below 5\") { \n        msg.payload = { \n            chatId: 1467891015,\n             type: 'message', \n            content: \"The temperature is very low \" + msg.payload \n        }; \n        return msg; \n    }// Add more conditions if needed for other ranges \n}// If there's no change in the range, return null \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "8fc1652a74dacc22",
                "ba2d0b3f18597240"
            ]
        ]
    },
    {
        "id": "8fc1652a74dacc22",
        "type": "telegram sender",
        "z": "2e66497cc5ba292a",
        "name": "",
        "bot": "c5559b966808a5d9",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ba2d0b3f18597240",
        "type": "debug",
        "z": "2e66497cc5ba292a",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "7fb36218e51c34b4",
        "type": "mqtt in",
        "z": "2e66497cc5ba292a",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "1a4c4d99df3aca71",
                "d8abe52751be4107"
            ]
        ]
    },
    {
        "id": "1a4c4d99df3aca71",
        "type": "debug",
        "z": "2e66497cc5ba292a",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8abe52751be4107",
        "type": "function",
        "z": "2e66497cc5ba292a",
        "name": "SoilMoisture",
        "func": "const sensorType = msg.topic.split(\"/\").pop(); // Extract sensor type from the topic\n\n// Example equations (modify based on your understanding of the relationship):\nconst tempCoefficient = 0.1; // Adjust this coefficient based on your observations.\nconst humidityCoefficient = 0.2; // Adjust this coefficient based on your observations\nconst constantTerm = 10; // Adjust this constant term based on your observations\n\n// Declare humidity variable\nlet humidity = 0;\nlet temperature = 0; // Declare a temperature variable\n\n// Handle temperature and humidity separately based on the sensor type\nif (sensorType === \"temp\") {\n    const rawTemperature = msg.payload;\n    global.set(\"rawTemperature\", msg.payload);\n    temperature = parseFloat(rawTemperature);\n\n    // Debug messages\n    node.warn(\"Parsed Temperature: \" + temperature);\n\n    if (rawTemperature === null || isNaN(temperature)) {\n        // Check if temperature is null or not a valid number and log a warning\n        if (rawTemperature == null) {\n            node.warn(\"Temperature is null.\");\n        } else {\n            node.warn(\"Temperature is not a valid number.\");\n        }\n\n        // Handle the case when temperature is null or not a valid number\n        msg.payload = {\n            \"content\": \"Problem with temperature data. Cannot calculate estimated soil moisture.\"\n        };\n    } else {\n        // If temperature is valid, store it globally\n        global.set(\"temperature\", temperature);\n    }\n} else if (sensorType === \"humi\") {\n    const rawHumidity = msg.payload;\n    global.set(\"rawHumidity\", msg.payload);\n    humidity = parseFloat(rawHumidity); // Declare the humidity variable\n\n    // Debug messages\n    node.warn(\"Parsed Humidity: \" + humidity);\n\n    if (rawHumidity === null || isNaN(humidity)) {\n        // Check if humidity is null or not a valid number and log a warning\n        if (rawHumidity === null) {\n            node.warn(\"Humidity is null.\");\n        } else {\n            node.warn(\"Humidity is not a valid number.\");\n        }\n\n        // Handle the case when humidity is null or not a valid number\n        msg.payload = {\n            \"content\": \"Problem with humidity data. Cannot calculate estimated soil moisture.\"\n        };\n    } else {\n        // If humidity is valid, store it globally\n        global.set(\"humidity\", humidity);\n    }\n}\n\n// Now, calculate soil moisture only when both temperature and humidity values are available\nif (global.get(\"temperature\") !== undefined && global.get(\"humidity\") !== undefined) {\n    const temp = global.get(\"temperature\");\n    const hum = global.get(\"humidity\");\n\n    // Calculate estimated soil moisture using both temperature and humidity\n    var estimatedSoilMoisture = (tempCoefficient * temp) + (humidityCoefficient * hum) + constantTerm;\n\n    // Debug messages\n    node.warn(\"Estimated Soil Moisture: \" + estimatedSoilMoisture);\n\n    // Create a new message object with the estimated soil moisture, temperature, and humidity\n    msg.payload = {\n        temperature: temp,\n        humidity: hum,\n        estimatedSoilMoisture: estimatedSoilMoisture.toFixed(2) // Rounded to 2 decimal places\n    };\n    global.set(\"estimatedSoilMoisture\", estimatedSoilMoisture);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 580,
        "wires": [
            [
                "d399fa77ed10537f",
                "0ceba37f563bd9c7",
                "1fea195a77c918c7"
            ]
        ]
    },
    {
        "id": "d399fa77ed10537f",
        "type": "change",
        "z": "2e66497cc5ba292a",
        "name": "global_soilmoisture",
        "rules": [
            {
                "t": "move",
                "p": "estimatedsoilmoisture",
                "pt": "msg",
                "to": "soilmoisture",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1fea195a77c918c7",
        "type": "switch",
        "z": "2e66497cc5ba292a",
        "name": "Check soil moisture",
        "property": "payload.estimatedSoilMoisture",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "f9ca40ca90b7fc92"
            ],
            [
                "ecfcfc0f613baf53"
            ]
        ]
    },
    {
        "id": "f9ca40ca90b7fc92",
        "type": "change",
        "z": "2e66497cc5ba292a",
        "name": "Pump ON",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pump",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 740,
        "wires": [
            [
                "c743b0ac139f5168",
                "21ee60161666f369"
            ]
        ]
    },
    {
        "id": "ecfcfc0f613baf53",
        "type": "change",
        "z": "2e66497cc5ba292a",
        "name": "Pump OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "c743b0ac139f5168"
            ]
        ]
    },
    {
        "id": "c743b0ac139f5168",
        "type": "ui_text",
        "z": "2e66497cc5ba292a",
        "group": "75e37fa18cc07d80",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Pump Status Display",
        "label": "General Pump Status:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "21ee60161666f369",
        "type": "trigger",
        "z": "2e66497cc5ba292a",
        "name": "Turn OFF after 2 minutes",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "",
        "outputs": 2,
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "26649d4bfea0e2f7"
            ],
            [
                "3a0fabfa1948f9ad"
            ]
        ]
    },
    {
        "id": "26649d4bfea0e2f7",
        "type": "ui_text",
        "z": "2e66497cc5ba292a",
        "group": "7e1b7f86053eb4c1",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Pump Status UI",
        "label": "Pump will be on for 2min:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1320,
        "y": 620,
        "wires": []
    },
    {
        "id": "3a0fabfa1948f9ad",
        "type": "ui_text",
        "z": "2e66497cc5ba292a",
        "group": "7e1b7f86053eb4c1",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Pump Status UI",
        "label": "Pump will be switched off after 2min:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1320,
        "y": 720,
        "wires": []
    },
    {
        "id": "0ceba37f563bd9c7",
        "type": "ui_text",
        "z": "2e66497cc5ba292a",
        "group": "7e1b7f86053eb4c1",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Soil Moisture Display",
        "label": "Soil Moisture:",
        "format": "{{msg.payload.estimatedSoilMoisture}}%",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "7802cdc7dce973d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.f4.htw-berlin.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c5559b966808a5d9",
        "type": "telegram bot",
        "botname": "Sneha_proitd_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "75e37fa18cc07d80",
        "type": "ui_group",
        "name": "1. Dashgroup",
        "tab": "5ab87c3aa890cb45",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e1b7f86053eb4c1",
        "type": "ui_group",
        "name": "3. Pump Status",
        "tab": "5ab87c3aa890cb45",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ab87c3aa890cb45",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]