Projects/IOT-GrowBuddy/final/temphumidata.json
[
    {
        "id": "fc94822c3ccaf199",
        "type": "tab",
        "label": "TEMP HUMI DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fac4565bbf6aa6a4",
        "type": "mqtt in",
        "z": "fc94822c3ccaf199",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "58c61a30e8c3826e",
                "42e17523ec8eba49",
                "cbc271f812a2095c",
                "137afb3b31b1df80"
            ]
        ]
    },
    {
        "id": "383bae9f4efd2c4c",
        "type": "mqtt in",
        "z": "fc94822c3ccaf199",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/humi",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "7b05957b8557d131",
                "42e17523ec8eba49",
                "9f0c622059f35168"
            ]
        ]
    },
    {
        "id": "58c61a30e8c3826e",
        "type": "ui_chart",
        "z": "fc94822c3ccaf199",
        "name": "",
        "group": "75e37fa18cc07d80",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7b05957b8557d131",
        "type": "ui_chart",
        "z": "fc94822c3ccaf199",
        "name": "",
        "group": "80228d1c6f13c156",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "42e17523ec8eba49",
        "type": "debug",
        "z": "fc94822c3ccaf199",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "cbc271f812a2095c",
        "type": "ui_gauge",
        "z": "fc94822c3ccaf199",
        "name": "",
        "group": "75e37fa18cc07d80",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "9f0c622059f35168",
        "type": "ui_gauge",
        "z": "fc94822c3ccaf199",
        "name": "",
        "group": "80228d1c6f13c156",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "40",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "137afb3b31b1df80",
        "type": "change",
        "z": "fc94822c3ccaf199",
        "name": "set global_temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ec24a494fbf3161c",
        "type": "change",
        "z": "fc94822c3ccaf199",
        "name": "set global_humi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7802cdc7dce973d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.f4.htw-berlin.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "75e37fa18cc07d80",
        "type": "ui_group",
        "name": "1. Dashgroup",
        "tab": "5ab87c3aa890cb45",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80228d1c6f13c156",
        "type": "ui_group",
        "name": "2.Dashboard",
        "tab": "5ab87c3aa890cb45",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ab87c3aa890cb45",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]