Projects/IOT-GrowBuddy/MQTT/tests/mqttttest.json
[
    {
        "id": "a19578727c6f0b41",
        "type": "tab",
        "label": "mqtt+telegramtest",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c1ec42914f2258d5",
        "type": "mqtt in",
        "z": "a19578727c6f0b41",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "5c7f18d3dab01b04",
                "03c5e5c7754ebf6b"
            ]
        ]
    },
    {
        "id": "0249ae6c999c6869",
        "type": "mqtt in",
        "z": "a19578727c6f0b41",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/humi",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "dd0e65e090b4eab5",
                "89f8d6369eb45004"
            ]
        ]
    },
    {
        "id": "5c7f18d3dab01b04",
        "type": "ui_chart",
        "z": "a19578727c6f0b41",
        "name": "",
        "group": "75e37fa18cc07d80",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "dd0e65e090b4eab5",
        "type": "ui_chart",
        "z": "a19578727c6f0b41",
        "name": "",
        "group": "75e37fa18cc07d80",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "03c5e5c7754ebf6b",
        "type": "debug",
        "z": "a19578727c6f0b41",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "89f8d6369eb45004",
        "type": "debug",
        "z": "a19578727c6f0b41",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "44d62054e730d99d",
        "type": "mqtt out",
        "z": "a19578727c6f0b41",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/slider",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7802cdc7dce973d6",
        "x": 610,
        "y": 20,
        "wires": []
    },
    {
        "id": "50685556ea6bc285",
        "type": "ui_gauge",
        "z": "a19578727c6f0b41",
        "name": "",
        "group": "75e37fa18cc07d80",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "8cfded052a4595e2",
        "type": "ui_slider",
        "z": "a19578727c6f0b41",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "75e37fa18cc07d80",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "50685556ea6bc285",
                "44d62054e730d99d"
            ]
        ]
    },
    {
        "id": "d29f208ccd23c4c5",
        "type": "mqtt in",
        "z": "a19578727c6f0b41",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "50685556ea6bc285",
                "5c7f18d3dab01b04",
                "5aa715e3173497db"
            ]
        ]
    },
    {
        "id": "093bbdd453278910",
        "type": "mqtt in",
        "z": "a19578727c6f0b41",
        "name": "",
        "topic": "HTW_IoTM2425/Sneha/humi",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7802cdc7dce973d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "dd0e65e090b4eab5",
                "8776a25df842f245"
            ]
        ]
    },
    {
        "id": "5aa715e3173497db",
        "type": "switch",
        "z": "a19578727c6f0b41",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "d6912ddee610029d"
            ]
        ]
    },
    {
        "id": "d6912ddee610029d",
        "type": "change",
        "z": "a19578727c6f0b41",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "1467891015",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "the temperature is more than 20 degree",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "910eb0efc9d60184"
            ]
        ]
    },
    {
        "id": "50960ba7913a3cb9",
        "type": "debug",
        "z": "a19578727c6f0b41",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "910eb0efc9d60184",
        "type": "telegram sender",
        "z": "a19578727c6f0b41",
        "name": "",
        "bot": "c5559b966808a5d9",
        "haserroroutput": false,
        "outputs": 1,
        "x": 510,
        "y": 660,
        "wires": [
            [
                "50960ba7913a3cb9"
            ]
        ]
    },
    {
        "id": "8776a25df842f245",
        "type": "switch",
        "z": "a19578727c6f0b41",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "35",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "5434a6dea0f656f0"
            ]
        ]
    },
    {
        "id": "5434a6dea0f656f0",
        "type": "change",
        "z": "a19578727c6f0b41",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "1467891015",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "the humidity is more than 35 degree 🥵",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "d90679b60a4d2b5d"
            ]
        ]
    },
    {
        "id": "d90679b60a4d2b5d",
        "type": "telegram sender",
        "z": "a19578727c6f0b41",
        "name": "",
        "bot": "c5559b966808a5d9",
        "haserroroutput": false,
        "outputs": 1,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "032fa18dd66cad21"
            ]
        ]
    },
    {
        "id": "032fa18dd66cad21",
        "type": "debug",
        "z": "a19578727c6f0b41",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "7802cdc7dce973d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.f4.htw-berlin.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "75e37fa18cc07d80",
        "type": "ui_group",
        "name": "1. Dashgroup",
        "tab": "5ab87c3aa890cb45",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c5559b966808a5d9",
        "type": "telegram bot",
        "botname": "Sneha_proitd_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5ab87c3aa890cb45",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]